* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #F0F0F0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#canvas-container {
    position: fixed;
    z-index: -99;
}

button {
    font-size: 30px;
    margin: 5px;
    margin-left: 100px;
}