:root {
    --theme-color1: grey; /* lighter; be changed by script */
    --theme-color2: black; /* darker; be changed by script */
    --text-color1: #f0f0f0;
    --text-color2: #dedede;
    --background-color1: #191919;
    --background-color2: #242424;
    --scroll-progress-range: 600px; /* bigger means animation requires more scrolling */
}

* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Kanit';
    src: url('./fonts/Kanit-ExtraLight.ttf') format('truetype');
    font-weight: light;
}
  
@font-face {
    font-family: 'Kanit';
    src: url('./fonts/Kanit-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Kanit;
    src: url("./fonts/Kanit-ExtraLight.ttf");
    font-weight: lighter;
}
body, input, textarea, button {
    font-family: "Kanit", sans-serif;
}


body {
    background-color: var(--theme-color2);
    color: var(--text-color1);
    overflow-x: hidden;
}

/* override visited link color change */
a, a:visited, a:hover, a:active {
    color: inherit;
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--background-color1);
}
::-webkit-scrollbar-thumb {
    background: var(--text-color1);
}
::-moz-selection {
    color: var(--background-color1);
    background: var(--text-color2);
}
::selection {
    color: var(--background-color1);
    background: var(--text-color2);
}


#canvas-container {
    position: fixed;
    z-index: -100;
}


main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    font-size: 36px;
    margin: 25px;
    padding: 10px;
}

p {
    font-size: min(5vw, 40px);
}




/* formula: min( <x>vw, <x*8>px ) */
#greet-container {
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -90;
    
}
/* this div is used to set height for #behind & #front divs */
#greet-container > div {
    position: relative;
    height: min(50vw, 400px);
    top: 50vh;
    transform: translate(0, -65%);
}


#greet-behind-div, #greet-front-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    transition: clip-path 0.2s ease-out;
}



#greet-behind-div h1 {
    font-size: min(11vw, 88px);
}
#greet-front-div {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}
/* inner container used for aligning texts */
#greet-front-div > div {
    width: min(80vw, 640px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
#greet-front-div h1 {
    font-size: min(15vw, 120px);
    margin: -0.4em 0 -0.2em 0;
}
#greet-front-div p {
    font-size: min(5.5vw, 44px);
}

#scroll-cue-div {
    position: absolute;
    bottom: min(-10vw, -80px);
    left: 50%;
    transform: translate(-50%, 0);
}


#middle-section {
    /* big margin to make room for scroll based animation */
    margin-top: calc(110vh + var(--scroll-progress-range));
    margin-bottom: 30vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#body-middle-section {
    background-color: var(--background-color1);
    margin-top: -1vw; /* fix gap with top-wave svg */
    margin-bottom: -1vw; /* fix gap with botttom-wave svg */
    min-height: 500px;
    display: flex;
    justify-content: center;
}
#body-middle-section > div {
    /* background-color: #222222; */
    width: min(90vw, 1000px);
    padding: min(5vw, 40px) 0;
}


#body-middle-section > div > h1 {
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    font-size: min(9vw, 72px);
    margin-bottom: min(2vw, 16px);
}
#body-middle-section > div > h1:not(:first-child) {
    margin-top: min(16vw, 128px); /* space between each sub section */
}
#body-middle-section > div > p {
    color: var(--text-color2);
    font-size: min(6vw, 32px);
}



#top-wave-container, #bottom-wave-container {
    position: relative;
    z-index: -10;
}
#top-wave-container svg {
    position: absolute;
    bottom: 0;
}
#top-wave-container svg:first-of-type {
    bottom: 4px; /*move gradient svg out*/
}
#bottom-wave-container svg {
    position: absolute;
    top: 0;
}
#bottom-wave-container svg:first-of-type {
    top: 4px; /*move gradient svg out*/
}



#contact-form {
    background: var(--background-color1);
    clip-path: inset(0 0 0 0 round min(2vw, 16px) min(10vw, 80px) min(2vw, 16px) min(10vw, 80px));
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(95vw, 760px);
    margin: min(10vw, 80px) 0;
    padding: min(5vw, 40px) 0;
}

#contact-form > h1 {
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    font-size: min(9vw, 72px);
    text-align: center;
}

#inputs-container {
    display: flex;
    flex-direction: column;
    margin: 0 min(5vw, 40px);
}

input, textarea {
    font-size: min(5vw, 24px);
    color: var(--text-color1);
    background: var(--background-color2);
    border: none;
    padding: min(2vw, 16px);
    margin: min(1.5vw, 8px) 0;
}
textarea:focus, input:focus{
    outline: none;
}
#contact-form textarea {
    resize: none;
    height: min(20vw, 120px);
    overflow-y: scroll;
}

#contact-form button {
    font-weight: bold;
    color: var(--text-color2);
    background: var(--background-color2);
    border: none;
    border-radius: 0.3em;
    font-size: min(6vw, 40px);
    padding: 4px 0;
    margin-top: min(3vw, 24px);
    transition-property: color, background;
    transition-duration: 0.3s;
}
#contact-form button:hover {
    cursor: pointer;
    color: var(--background-color2);
    background: var(--text-color2);
}

#social-links-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: min(5vw, 40px);
}
#social-links-container > p {

}

#contact-heading {
    position: fixed;
    text-align: center;
    width: 100vw;
    z-index: -90;
    top: 50vh;
    transform: translate(0, -65%);
    font-size: min(14vw, 112px);
}

footer {
    padding: 1em 0.5em 1em 0.5em;
    margin-top: 2em;
}
footer > p {
    font-size: min(5vw, 32px);
}



.rainbow-text-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff, #0099ff , #00ff00, #ff3399);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 20s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.gradient-text-1{
    background: linear-gradient(to right, #00ff00, #ff3399, #6666ff, #0099ff , #00ff00, #ff3399);
}
.gradient-text-2{
    background: linear-gradient(to right, #ff3399, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
}
.gradient-text-3{
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff, #0099ff);
}
.gradient-text-4{
    background: linear-gradient(to right, #0099ff , #00ff00, #ff3399, #6666ff, #0099ff, #00ff00);
}